@media only screen and (min-width:319px) {
  .headerTextMain {
    padding-top: 2em !important;
    font-size: 3.5em !important; 
  }

  .headerTextSecondary {
    font-size: 1.75em !important; 
  }

  .helpSection {
    position: absolute;
    bottom: -34em;
    width:100%;
    left:0;
  }
}

@media only screen and (min-width:374px) {
  .headerTextMain {
    padding-top: 1.5em !important;
    font-size: 4em !important; 
  }
  .headerTextSecondary {
    font-size: 2.5em !important; 
  }

  .helpSection {
    position: absolute;
    bottom: -28em;
    width:100%;
    left:0;
  }
}

@media only screen and (min-width:426px) {
  .headerTextMain {
    padding-top: 0em !important;
    font-size: 6em !important; 
  }
  .headerTextSecondary {
    font-size: 3em !important; 
  }

  .helpSection {
    position: absolute;
    bottom: -20em;
    width:100%;
    left:0;
  }
}






.center {
    text-align: center;
}

.headerStyle {
    margin-top: 15% !important;
}

.buttonStyle {
    width: 35% !important;
}

/* Const Hover Pulse */
@-webkit-keyframes const-hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes const-hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .const-hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .const-hvr-pulse{
    -webkit-animation-name: const-hvr-pulse;
    animation-name: const-hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }