.containerStyle {
    margin-top: 5% !important;
}

.headerText {
    font-size: 3em !important;
}

.centerItem {
    text-align: center !important;
}

.inputStyle {
    padding-left: 35%;
    padding-bottom: 1em;
}

#searchBar {
    border: 1px black solid;
    border-radius: 5px;
    width: 60%;
    height: 100%;
    padding: 0 10px;
    margin: 0 15px;
}

#searchBar:focus {
    outline: none;
}

#searchWrapper {
    display: flex;
    height: 5px 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

#deviceContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.device {
    margin: 0px 20px;
    text-align: center;
}

.deviceModal {
    background-color: #e0e1e2;
    border-radius: 10px;
    padding: 10px;
}

.deviceButton {
    background-color: white;
}

.playerContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.playerButton {
    margin: 10px !important;
}
.playerButton:hover {
    cursor: pointer;
    color: #3f3f3f;
}
