.containerStyle {
    margin-top: 5% !important;
    text-align: center;
}

.headerText {
    font-size: 3em !important;
    margin-bottom: 0px !important;
}

.headerTextSecondary {
    font-size: 2.2em !important;
    margin-top: -20px !important;
}

.centerItem {
    text-align: center !important;
    padding: 6%;
}

.inputStyle {
    padding-right: 3%;
    padding-bottom: 1em;
}

#searchBar {
    border: 1px black solid;
    border-radius: 5px;
    width: 60%;
    height: 100%;
    padding: 0 10px;
    margin: 0 15px;
}

#searchBar:focus {
    outline: none;
}

#searchWrapper {
    display: flex;
    justify-content: center;
}

.authorize {
    margin: 3%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

#deviceContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.device {
    margin: 0px 20px;
    text-align: center;
}

.deviceModal {
    background-color: #e0e1e2;
    border-radius: 10px;
    padding: 10px;
}

.deviceButton {
    background-color: white;
}

.playerContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerButton {
    margin: 10px !important;
}
.playerButton:hover {
    cursor: pointer;
    color: #3f3f3f;
}

.song-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1em;
}

.like-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.song-info {
    margin-bottom: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    text-align: center;
}

.errorPage {
    text-align: center;
    padding: 20%
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.linkButton {
    margin-left: 1em !important;
}

.linkButton:hover {
    color: #0E6EB8;
    cursor: pointer;
}

.refreshButton {
    float: right;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
}

#queue-container{
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}