
.headerTextMain {
    font-size: 6em !important; 
}

.headerTextSecondary {
    font-size: 3em !important; 
}

.center {
    text-align: center;
}

.headerStyle {
    margin-top: 15% !important;
}

.buttonStyle {
    width: 35% !important;
}